{% extends 'base.html' %}
{% block content %}

<h1 class="class="subtitle">
  {{ song.song_title }}
</h1>


<form class="" action="/eadda/{{song.slug}}/add/" method="post">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field }}
  {% endfor %}
  <!-- <input type="submit" name="submit" value="Guardar" /> -->
  <button type="submit" value="Guardar" >Guardar!</button>
</form>

{% endblock %}
