{% extends 'base.html' %}
{% block content %}

{% if song %}
  <h1 class="title" >{{ song.song_title }}</h1>
  {% if stories %}
    {% for story in stories  %}
    <div class="box mb-4">
        {{ story.content }}
        <p class="mt-4">
          <small>Escrito por: {{ story.author.username }}</small>
        </p>
    </div>

    <!-- <section>
        <h1 class="subtitle">{{ story.author.username }} escribió:</h1>
        <p class="mb-4">
          {{ story.content }}
        </p>
      </section> -->
    {% endfor %}
  {% else %}
  <strong>No hay historias para esta canción</strong>
  {% endif %}
{% else %}
  No encontrado
{% endif %}


{% endblock %}
